*.color-blue-light {
    color: #edf1ff;
}

*.background-blue-light {
    background-color: #edf1ff;
}

*.border-blue-light {
    border-color: #edf1ff;
}

*.color-orange-bold {
    color: #d19c97;
}

*.background-orange-bold {
    background-color: #d19c97;
}

*.border-orange-bold {
    border-color: #d19c97;
}

*.color-gray {
    color: #E8E8E8;
}